@theme "~/.config/rofi/config.rasi"

* {
    font: "FiraCode Nerd Font 11";
}

configuration {
	modi:                       "drun";
}

window {
    width: 450px;
}

mainbox {
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    margin:                      0px;
    padding:                     12px;
}

prompt {
    padding: 0px 0px 0px 5px;
}

listview {
    lines:                       9;
}

element {
    padding:                     15px 15px;
}

element-icon {
    enabled:                     false;
}

