@theme "~/.config/rofi/config.rasi"

* {
    font: "FiraCode Nerd Font 14";
}

configuration {
	modi:                       "drun";
}

window {
    width: 900px;
}

mainbox {
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    margin:                      0px;
    padding:                     25px;
}

prompt {
    padding: 0px 0px 0px 5px;
}

listview {
    lines:                       8;
}

element {
    padding:                     30px 30px;
}

element-icon {
    enabled:                     false;
}

