@theme "~/.config/rofi/config.rasi"

configuration {
    dpi:                        160;
	modi:                       "drun";
}

window {
  width:                       1200px;
}
mainbox {
    children:                    [ "inputbar", "listview" ];
}

inputbar {
  margin:                        0px;
}

listview {
    columns:                     5;
    lines:                       5;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    flow:                        horizontal;
}

element {
    padding:                     40px 30px;
    orientation:                 vertical;
}

element-icon {
    size:                        96px;
}

element-text {
    horizontal-align:            0.5;
}
