[Desktop Entry]
Exec=/home/sunit/Scripts/switcher.sh 2 "obsidian.obsidian" "" true obsidian
Name=Obsidian
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
