[Desktop Entry]
Exec=vicinae vicinae://launch/clipboard/history
Name=Clipboard
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
