[Desktop Entry]
Exec=/home/sunit/Scripts/switcher.sh 2 "okular.okular" "" true okular
Name=Okular
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
