[Desktop Entry]
Exec=/home/sunit/Scripts/switcher.sh 0 "dolphin.dolphin" "" true dolphin
Name=File Manager
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
