[Desktop Entry]
Exec=/home/sunit/Scripts/switcher.sh 1 "spotify.Spotify" "" true spotify
Name=Spotify
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
