[Desktop Entry]
Exec=vicinae vicinae://launch/core/search-emojis
Name=Emoji
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
