[Desktop Entry]
Exec=rofimoji --action clipboard --selector-args="-theme ~/.config/rofi/emoji.rasi" -f emojis ~/.local/share/rofimoji/emojis.csv
Name=Emoji
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
