[Desktop Entry]
Exec=/home/sunit/Scripts/switcher.sh 2 "code.Code" "" true code
Name=VS Code
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
