[Desktop Entry]
Exec=krunner "windows: "
Name=KRunner Windows
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
