[Desktop Entry]
Exec=/home/sunit/Scripts/yazi.sh
Name=yazi
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
