[Desktop Entry]
Exec=rofimoji --action clipboard --selector-args="-theme ~/.config/rofi/emoji.rasi"
Name=Emoji
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
