[Desktop Entry]
Categories=System;FileManager;FileTools;ConsoleOnly
Comment=Blazing fast terminal file manager written in Rust, based on async I/O
Exec=kitty --title Yazi -e yazi
GenericName=File Manager
Icon=yazi
MimeType=inode/directory
Name=Yazi
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=yazi
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
